{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

<section class="cart-page page-container">

    <h1 class="cart-title">Mon panier</h1>

    {% if cart is empty %}
        <p>Votre panier est vide</p>
    {% else %}

        <div class="cart-header">
            <a href="{{ path('app_cart_clear') }}" class="cart-clear">
                <span class="cart-clear-icon">×</span> Vider le panier
            </a>
        </div>

        <div class="cart-card">

            {% for item in cart %}
                <div class="cart-item">

                    <img src="{{ asset('images/' ~ item.product.picture) }}" alt="{{ item.product.name }}">

                    <div class="cart-item-info">
                        <p class="cart-name">{{ item.product.name }}</p>

                        <div class="cart-quantity-actions">
                            <a href="{{ path('app_cart_remove', {id: item.product.id}) }}" class="qty-btn">-</a>
                            <span class="qty-value">Quantité : {{ item.quantity }}</span>
                            <a href="{{ path('app_cart_add', {id: item.product.id}) }}" class="qty-btn">+</a>
                        </div>

                        <p class="cart-price">{{ item.product.price }} €</p>

                        <a href="{{ path('app_cart_delete', {id: item.product.id}) }}" class="cart-delete">
                            Supprimer
                        </a>
                    </div>

                </div>
            {% endfor %}

            <div class="cart-total">
                <p>Total panier : <strong>{{ total }} €</strong></p>
                <p class="shipping">Frais de livraison offerts</p>
            </div>

        </div>

       <a href="{{ path('app_order_validate') }}" class="btn-cart">
    Valider la commande
</a>

    {% endif %}

</section>

{% endblock %}