<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GreenGoodies{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('styles/app.min.css') }}">
</head>

<body>

<!-- HEADER -->
<header class="site-header">
    <div class="page-container header-inner">

        <!-- LOGO -->
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo GreenGoodies">
         
        </div>

        <!-- NAVIGATION -->
        <nav class="main-nav">

            <a href="{{ path('app_home') }}">Nos produits</a>

            {% if app.user %}
                <a href="{{ path('app_order_validate') }}">Mon panier</a>
                <a href="{{ path('app_account') }}">Mon compte</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}

        </nav>

    </div>
</header>

<!-- MAIN -->
<main class="page-container">
    {% block body %}{% endblock %}
</main>

<!-- FOOTER -->
<footer class="site-footer">
    <div class="page-container footer-inner">
        <p>© GreenGoodies - 2024</p>
    </div>
</footer>

</body>
</html>